<!--Toolbar-->
<mat-toolbar color="primary">
  <!--Sidebar Menu Icon-->
  <button
    mat-icon-button
    (click)="sidenav.toggle()"
    class="example-icon"
    aria-label="menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <!--Home button-->
  <button mat-icon-button routerLink="/">
    <mat-icon>home</mat-icon>
  </button>
  <div style="text-align: center; width: 100%">
    <span>Git Profile Assignment</span>
  </div>

  <!--Login button-->
  <button mat-icon-button routerLink="/login">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<!--Sidebar-->
<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="opened"
    style="text-align: center"
  >
    <button mat-button routerLink="/githubProfiles">GitHub Profiles</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
